* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    flex-grow: 0;
    align-self: center;
}

.hero,
.footer {
    background-color: #1F2937
}

.footer {
    color: white;
    text-align: center;
    padding: 40px;
}
/* ############# Hero Section ############# */

.hero {
    padding: 10px 125px 70px 125px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: 800px;
    color: #F9FAF8;
}

.hero p,
.hero ul li a{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.hero-header {
    display: flex;
    justify-content: space-between;
}

.hero button {
    margin-top: 10px;
}

/* ############# Content Section #############*/

h2 {
    font-size: 36px;
    font-weight: 800px;
    color: #1F2937;
    text-align: center;
    padding-top: 50px;
}

.content-items-wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 200px 100px 200px;
}

.content-item {
    max-width: 150px;
    text-align: center;
}

.content-item img {
    border: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

/* ############# Testimonials Section ############# */

.testimonials {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px 200px;
}

.testimonial-item {
    max-width: 670px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    max-height: 250px;
}

.quote-signature {
    align-self: flex-end;
    font-weight: bold;
    margin-right: 50px;
}

/* ############# Advert Section ############# */

.advert {
    display: flex;
    background-color: #3882F6;
    padding: 30px 60px; 
    justify-content: space-between;
    margin: 60px 120px;
    border-radius: 10px;
}

.advert button {
    border: 2px solid white
}

.advert-header {
    color: white;
    font-weight: bold;
}

.advert-subtext {
    color: white;
}